body{
    margin : 0 ;
    font-family: sans-serif;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
    margin : auto ;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  h1{
    margin-left: 35%;
  }
  form{
    margin: auto;
    width: 30%;

  }
  .aback{
    margin-left: 35%;
  }